.product_card__info--color {
    font-size: 12px;
    font-weight: 400;
    color: #525252;
    line-height: 16px;
}

.product_card__info--price {
    display: flex;
    gap: 8px;
    align-items: center;
    align-self: stretch;

    span {
        &:nth-child(1) {
            font-size: 18px;
            font-weight: 400;
            color: #737373;
            line-height: 28px;
        }

        &:nth-child(2) {
            font-size: 12px;
            font-weight: 400;
            color: #737373;
            line-height: 16px;
            text-decoration-line: line-through;
        }
    }
}

.product_card__info__color-list {
    display: flex;
    gap: 8px;
}