.product-card {
    width: 280px;

    figure {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        img {
            align-items: stretch;
            height: 300px;
            border-radius: 8px;
            object-fit: cover;
        }

        p {
            height: 168px;
        }
    }
}